# App
PROJECT_SERVICE_APP_NAME='Project Service'
PROJECT_SERVICE_APP_PORT=3304
PROJECT_SERVICE_APP_CACHE_TTL_SECONDS=360

# Database
PROJECT_SERVICE_DB_HOST=localhost
PROJECT_SERVICE_DB_PORT=5534
PROJECT_SERVICE_DB_USERNAME=postgres
PROJECT_SERVICE_DB_PASSWORD=secret
PROJECT_SERVICE_DB_CONNECTION=postgres
PROJECT_SERVICE_DB_DATABASE=ai-agent
PROJECT_SERVICE_DB_SCHEMA=public
